<main>
  <div class="container">
    <div class="jumbotron">
      <div class="container text-center">
        <h1 class="display-3">Dépenses partagées</h1>
        <p>Partager vos dépenses entre colocataires c'est facile</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h2>Titre</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet animi atque commodi consectetur
          delectus dolor error est et, eum expedita facilis laborum nesciunt nostrum possimus quam rem
          repudiandae
          temporibus?
        </p>
        <p>
          <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
        </p>
      </div>
      <div class="col-md-4">
        <h2>Titre</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam autem deleniti dolore
          dolorem et fugiat id ipsum nihil nobis non odit perspiciatis porro qui repudiandae sint veniam
          vitae, voluptas?
        </p>
        <p>
          <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
        </p>
      </div>
      <div class="col-md-4">
        <h2>Titre</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam autem deleniti dolore
          dolorem et fugiat id ipsum nihil nobis non odit perspiciatis porro qui repudiandae sint veniam
          vitae, voluptas?
        </p>
        <p>
          <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
        </p>
      </div>
    </div>
  </div>
</main>
